In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Project1_processed/Chapter5.xlsx','5.12')
df.head(5)

,तालिका 5.12: भारत में महिला पुलिस अधिकारियों की संख्या,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Table 5.12: Strength of Female Police Officers...,NaN,NaN,NaN,NaN
1,(as on 01.01.2020),NaN,NaN,NaN,NaN
2,पुलिस विभाग / संगठन,कुल पुलिस संख्या (वास्तविक),महिला पुलिस संख्या (वास्तविक),महिला पुलिस अधिकारियों का प्रतिशत (%),Police Deptt./Organization
3,NaN,Total Police Strength (Actual),Female Police Strength (Actual),Percentage of Female Police Officers (%),NaN
4,(1),(2),(3),(4),(5)

In [ ]:
df.dropna(thresh=abs(df.shape[1]*0.5), axis=0, inplace=True)
df.dropna(how="all", axis=1, inplace=True)
df.head(10)

,तालिका 5.12: भारत में महिला पुलिस अधिकारियों की संख्या,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
2,पुलिस विभाग / संगठन,कुल पुलिस संख्या (वास्तविक),महिला पुलिस संख्या (वास्तविक),महिला पुलिस अधिकारियों का प्रतिशत (%),Police Deptt./Organization
3,NaN,Total Police Strength (Actual),Female Police Strength (Actual),Percentage of Female Police Officers (%),NaN
4,(1),(2),(3),(4),(5)
5,सिविल पुलिस,1333863,174716,13.098497,Civil Police
6,जिला सशस्त्र रिजर्व पुलिस,224963,20391,9.064157,District Armed Reserve Police
7,विशेष सशस्त्र पुलिस बटालियन,398764,14401,,Special Armed Police Battalion
8,भारतीय रिजर्व बटालियन पुलिस,133898,5845,4.365263,Indian Reserve Battalion Police
9,कुल (क),2091488,215353,10.29664,Total (A)
11,असम राइफल्स,60524,953,1.574582,Assam Rifles
12,सीमा सुरक्षा बल,237750,5139,2.161514,Border Security Force

In [ ]:
df.drop(columns=[df.columns[0],df.columns[3]], inplace=True)
df.head(20)

,Unnamed: 1,Unnamed: 2,Unnamed: 4
2,कुल पुलिस संख्या (वास्तविक),महिला पुलिस संख्या (वास्तविक),Police Deptt./Organization
3,Total Police Strength (Actual),Female Police Strength (Actual),NaN
4,(2),(3),(5)
5,1333863,174716,Civil Police
6,224963,20391,District Armed Reserve Police
7,398764,14401,Special Armed Police Battalion
8,133898,5845,Indian Reserve Battalion Police
9,2091488,215353,Total (A)
11,60524,953,Assam Rifles
12,237750,5139,Border Security Force
13,141650,8631,Central Industrial Security Force
14,299410,7860,Central Reserve Police Force
15,82631,2023,Indo-Tibetan Border Police
16,10996,122,National Disaster Response Force*
17,9857,106,National Security Guard #
18,60764,2335,Railway Protection Force
19,78809,2080,Sashastra Seema Bal
20,982391,29249,Total (B)
21,3073879,244602,Grand Total (A+B)

In [ ]:
df.drop(index=[df.index[0],df.index[2],df.index[7],df.index[17],df.index[18]], inplace=True)
df.head(20)

,Unnamed: 1,Unnamed: 2,Unnamed: 4
3,Total Police Strength (Actual),Female Police Strength (Actual),NaN
5,1333863,174716,Civil Police
6,224963,20391,District Armed Reserve Police
7,398764,14401,Special Armed Police Battalion
8,133898,5845,Indian Reserve Battalion Police
11,60524,953,Assam Rifles
12,237750,5139,Border Security Force
13,141650,8631,Central Industrial Security Force
14,299410,7860,Central Reserve Police Force
15,82631,2023,Indo-Tibetan Border Police
16,10996,122,National Disaster Response Force*
17,9857,106,National Security Guard #
18,60764,2335,Railway Protection Force
19,78809,2080,Sashastra Seema Bal

In [ ]:
df.columns=df.iloc[0,:].values
df.head(5)

,Total Police Strength (Actual),Female Police Strength (Actual),NaN
3,Total Police Strength (Actual),Female Police Strength (Actual),NaN
5,1333863,174716,Civil Police
6,224963,20391,District Armed Reserve Police
7,398764,14401,Special Armed Police Battalion
8,133898,5845,Indian Reserve Battalion Police

In [ ]:
df.drop(index=df.index[0], inplace=True)
df.head(5)

,Total Police Strength (Actual),Female Police Strength (Actual),NaN
5,1333863,174716,Civil Police
6,224963,20391,District Armed Reserve Police
7,398764,14401,Special Armed Police Battalion
8,133898,5845,Indian Reserve Battalion Police
11,60524,953,Assam Rifles

In [ ]:
df.rename(columns={df.columns[0]: "total_police_strength", df.columns[1]:"female_police_strength",df.columns[2]:"police_organization"}, inplace=True)
df.head(15)

,total_police_strength,female_police_strength,police_organization
5,1333863,174716,Civil Police
6,224963,20391,District Armed Reserve Police
7,398764,14401,Special Armed Police Battalion
8,133898,5845,Indian Reserve Battalion Police
11,60524,953,Assam Rifles
12,237750,5139,Border Security Force
13,141650,8631,Central Industrial Security Force
14,299410,7860,Central Reserve Police Force
15,82631,2023,Indo-Tibetan Border Police
16,10996,122,National Disaster Response Force*
17,9857,106,National Security Guard #
18,60764,2335,Railway Protection Force
19,78809,2080,Sashastra Seema Bal

In [ ]:
melt_df=df.melt(id_vars=df.columns[2], var_name="police_strength", value_name="value")
melt_df.head(5)

               police_organization        police_strength    value
0                     Civil Police  total_police_strength  1333863
1    District Armed Reserve Police  total_police_strength   224963
2   Special Armed Police Battalion  total_police_strength   398764
3  Indian Reserve Battalion Police  total_police_strength   133898
4                     Assam Rifles  total_police_strength    60524

In [ ]:
melt_df=melt_df.assign(date_as_on="01-01-2020")
melt_df=melt_df.assign(units="value in absolute number")
melt_df.tail(10)

,police_organization,police_strength,value,date_as_on,units
16,Indian Reserve Battalion Police,female_police_strength,5845,01-01-2020,value in absolute number
17,Assam Rifles,female_police_strength,953,01-01-2020,value in absolute number
18,Border Security Force,female_police_strength,5139,01-01-2020,value in absolute number
19,Central Industrial Security Force,female_police_strength,8631,01-01-2020,value in absolute number
20,Central Reserve Police Force,female_police_strength,7860,01-01-2020,value in absolute number
21,Indo-Tibetan Border Police,female_police_strength,2023,01-01-2020,value in absolute number
22,National Disaster Response Force*,female_police_strength,122,01-01-2020,value in absolute number
23,National Security Guard #,female_police_strength,106,01-01-2020,value in absolute number
24,Railway Protection Force,female_police_strength,2335,01-01-2020,value in absolute number
25,Sashastra Seema Bal,female_police_strength,2080,01-01-2020,value in absolute number

In [ ]:
note_dict={"*":"NDRF is a 100% Deputationist Force","#":"NSG is a 100% Deputationist Force, No Reservation percentage has been fixed for women in NSG."}

In [ ]:
for each_note in note_dict:
  melt_df[f"{each_note}"]=melt_df["police_organization"].apply(lambda x:f"police_organization:{note_dict[each_note]}" if f"{each_note}" in x else "")
melt_df.tail(10)

,police_organization,police_strength,value,date_as_on,units,*,#
16,Indian Reserve Battalion Police,female_police_strength,5845,01-01-2020,value in absolute number,,
17,Assam Rifles,female_police_strength,953,01-01-2020,value in absolute number,,
18,Border Security Force,female_police_strength,5139,01-01-2020,value in absolute number,,
19,Central Industrial Security Force,female_police_strength,8631,01-01-2020,value in absolute number,,
20,Central Reserve Police Force,female_police_strength,7860,01-01-2020,value in absolute number,,
21,Indo-Tibetan Border Police,female_police_strength,2023,01-01-2020,value in absolute number,,
22,National Disaster Response Force*,female_police_strength,122,01-01-2020,value in absolute number,police_organization:NDRF is a 100% Deputationi...,
23,National Security Guard #,female_police_strength,106,01-01-2020,value in absolute number,,police_organization:NSG is a 100% Deputationis...
24,Railway Protection Force,female_police_strength,2335,01-01-2020,value in absolute number,,
25,Sashastra Seema Bal,female_police_strength,2080,01-01-2020,value in absolute number,,

In [ ]:
for each_note in note_dict:
  melt_df["police_organization"] = melt_df["police_organization"].apply(lambda x :x.strip(f'{each_note}' ))
melt_df.tail(10)

,police_organization,police_strength,value,date_as_on,units,*,#
16,Indian Reserve Battalion Police,female_police_strength,5845,01-01-2020,value in absolute number,,
17,Assam Rifles,female_police_strength,953,01-01-2020,value in absolute number,,
18,Border Security Force,female_police_strength,5139,01-01-2020,value in absolute number,,
19,Central Industrial Security Force,female_police_strength,8631,01-01-2020,value in absolute number,,
20,Central Reserve Police Force,female_police_strength,7860,01-01-2020,value in absolute number,,
21,Indo-Tibetan Border Police,female_police_strength,2023,01-01-2020,value in absolute number,,
22,National Disaster Response Force,female_police_strength,122,01-01-2020,value in absolute number,police_organization:NDRF is a 100% Deputationi...,
23,National Security Guard,female_police_strength,106,01-01-2020,value in absolute number,,police_organization:NSG is a 100% Deputationis...
24,Railway Protection Force,female_police_strength,2335,01-01-2020,value in absolute number,,
25,Sashastra Seema Bal,female_police_strength,2080,01-01-2020,value in absolute number,,

In [ ]:
melt_df["note"]=melt_df["*"]+melt_df["#"]
melt_df.head(5)

,police_organization,police_strength,value,date_as_on,units,*,#,note
0,Civil Police,total_police_strength,1333863,01-01-2020,value in absolute number,,,
1,District Armed Reserve Police,total_police_strength,224963,01-01-2020,value in absolute number,,,
2,Special Armed Police Battalion,total_police_strength,398764,01-01-2020,value in absolute number,,,
3,Indian Reserve Battalion Police,total_police_strength,133898,01-01-2020,value in absolute number,,,
4,Assam Rifles,total_police_strength,60524,01-01-2020,value in absolute number,,,

In [ ]:
melt_df.drop(columns=['#','*'], axis=1, inplace=True)
melt_df.head(10)

,police_organization,police_strength,value,date_as_on,units,note
0,Civil Police,total_police_strength,1333863,01-01-2020,value in absolute number,
1,District Armed Reserve Police,total_police_strength,224963,01-01-2020,value in absolute number,
2,Special Armed Police Battalion,total_police_strength,398764,01-01-2020,value in absolute number,
3,Indian Reserve Battalion Police,total_police_strength,133898,01-01-2020,value in absolute number,
4,Assam Rifles,total_police_strength,60524,01-01-2020,value in absolute number,
5,Border Security Force,total_police_strength,237750,01-01-2020,value in absolute number,
6,Central Industrial Security Force,total_police_strength,141650,01-01-2020,value in absolute number,
7,Central Reserve Police Force,total_police_strength,299410,01-01-2020,value in absolute number,
8,Indo-Tibetan Border Police,total_police_strength,82631,01-01-2020,value in absolute number,
9,National Disaster Response Force,total_police_strength,10996,01-01-2020,value in absolute number,police_organization:NDRF is a 100% Deputationi...

In [ ]:
melt_df=melt_df[["date_as_on", "police_organization","police_strength","value","units","note"]]
melt_df.head(10)

,date_as_on,police_organization,police_strength,value,units,note
0,01-01-2020,Civil Police,total_police_strength,1333863,value in absolute number,
1,01-01-2020,District Armed Reserve Police,total_police_strength,224963,value in absolute number,
2,01-01-2020,Special Armed Police Battalion,total_police_strength,398764,value in absolute number,
3,01-01-2020,Indian Reserve Battalion Police,total_police_strength,133898,value in absolute number,
4,01-01-2020,Assam Rifles,total_police_strength,60524,value in absolute number,
5,01-01-2020,Border Security Force,total_police_strength,237750,value in absolute number,
6,01-01-2020,Central Industrial Security Force,total_police_strength,141650,value in absolute number,
7,01-01-2020,Central Reserve Police Force,total_police_strength,299410,value in absolute number,
8,01-01-2020,Indo-Tibetan Border Police,total_police_strength,82631,value in absolute number,
9,01-01-2020,National Disaster Response Force,total_police_strength,10996,value in absolute number,police_organization:NDRF is a 100% Deputationi...

In [ ]:
melt_df.sort_values(by=["police_organization"], inplace=True)
melt_df.tail(15)

,date_as_on,police_organization,police_strength,value,units,note
14,01-01-2020,District Armed Reserve Police,female_police_strength,20391,value in absolute number,
3,01-01-2020,Indian Reserve Battalion Police,total_police_strength,133898,value in absolute number,
16,01-01-2020,Indian Reserve Battalion Police,female_police_strength,5845,value in absolute number,
21,01-01-2020,Indo-Tibetan Border Police,female_police_strength,2023,value in absolute number,
8,01-01-2020,Indo-Tibetan Border Police,total_police_strength,82631,value in absolute number,
22,01-01-2020,National Disaster Response Force,female_police_strength,122,value in absolute number,police_organization:NDRF is a 100% Deputationi...
9,01-01-2020,National Disaster Response Force,total_police_strength,10996,value in absolute number,police_organization:NDRF is a 100% Deputationi...
23,01-01-2020,National Security Guard,female_police_strength,106,value in absolute number,police_organization:NSG is a 100% Deputationis...
10,01-01-2020,National Security Guard,total_police_strength,9857,value in absolute number,police_organization:NSG is a 100% Deputationis...
11,01-01-2020,Railway Protection Force,total_police_strength,60764,value in absolute number,
24,01-01-2020,Railway Protection Force,female_police_strength,2335,value in absolute number,
12,01-01-2020,Sashastra Seema Bal,total_police_strength,78809,value in absolute number,
25,01-01-2020,Sashastra Seema Bal,female_police_strength,2080,value in absolute number,
2,01-01-2020,Special Armed Police Battalion,total_police_strength,398764,value in absolute number,
15,01-01-2020,Special Armed Police Battalion,female_police_strength,14401,value in absolute number,

In [ ]:
melt_df = melt_df.applymap(lambda x : x.strip() if isinstance(x,str) else x)

In [ ]:
melt_df.to_csv('/content/drive/MyDrive/Project1_processed/Table 5.12/output.csv', index=False)